[flake8]
# Exclude specific files or directories
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    utils/pdf2md/concise.py

# Maximum line length
max-line-length = 88

# Ignore specific errors/warnings
ignore = 
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
    E501   # line too long

# McCabe complexity threshold
max-complexity = 10